body{
background-color: #f1f9f9;
}
hr{
  border-color: grey;
  border-style:dotted none none;
  border-width: 5px;
  width : 30%;
}
img{
  height:150px;
}
h1{
  color: #4FBFBF;
}
h3{
  color:#4FBFBF;
}
